@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Font presets
$display: bold 2rem/1 'Fraunces';
$body: 0.875rem/1.64 'Montserrat';
$button-text: bold 0.875rem/1 'Montserrat';
$overline: 0.9375rem/1 'Montserrat';
$letter-space: 0.3125rem;

// Primary
$aquamarine: #3D8168;
$cream: #F2EAE2;

// Neutral
$white: #FFFFFF;
$aurometal: #6C7289;
$deep-aquamarine: #1A4032;
$gunmetal: #1C232B;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

html {
    height: 100%;
}

body {
    background: $cream;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

main {
    background: $white;
    max-width: 21.4375rem;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
}

#main-image {
    border-radius: 0.625rem 0.625rem 0 0;
}


section {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

span {
    font: $overline;
    letter-spacing: $letter-space;
    color: $aurometal;
}

#product-title {
    font: $display;
    color: $gunmetal;
}

#description {
    font: $body;
    color: $aurometal;
}

.prices {
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
}

.prices {
    strong {
        font: $display;
        color: $aquamarine;
    }

    s {
        font: $body;
        color: $aurometal;
    }
}

.cart-button {
    border-radius: 0.5rem;
    border: none;
    background: $aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    height: 3rem;
}

.cart-button {
    p {
        color: $white;
        font: $button-text;
    }
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

.attribution {
    font-size: 0.6875em;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
